# Debian preseed starter file
# Adjust for your environment before production use.
d-i debian-installer/locale string << locale >>
d-i keyboard-configuration/xkb-keymap select << keyboard_layout >>
d-i time/zone string << timezone >>
d-i passwd/user-fullname string << admin_username >>
d-i passwd/username string << admin_username >>
d-i passwd/user-password password << ssh_password >>
d-i passwd/user-password-again password << ssh_password >>
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string qemu-guest-agent sudo vim curl cloud-init
d-i grub-installer/only_debian boolean true
d-i finish-install/reboot_in_progress note
